<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>
<a href="/suggestions/new"><p>NEW</p></a>

<div>
  <ul>
    {{#each suggestions as |suggestion|}}
      <li>
        <a href="/suggestions/{{suggestion.id}}">{{suggestion.title}}</a>
        {{suggestion.body}}
      </li>
    {{/each}}
  </ul>
<div>
